/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;

}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}*/

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

/*clases modificadas*/
.header{
     background-color: #001b36;
}

footer hr{
   /*border-top: 3px double #001b36;*/ 

  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #001b36, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #001b36, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #001b36, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #001b36, #f0f0f0);
}

footer{
    /*background-color: #001b36;*/
    /*width: 100%;
    position:fixed;
    left:0px;
    bottom:0px;*/
    text-align: center;
    color: #001b36;
    font-weight: bold;
}


/*inicio cambios en menú*/
.navbar-inverse {
    background-color: #001b36;
    border-color: lawngreen;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: white; 
    text-shadow: lawngreen 0.1em 0.1em 0.2em;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #001b36;
}

.dropdown-menu > li > a:hover {
background-color: #001b36;
color:white;
}

.navbar-brand>img {
  height: 70px;
  width: auto;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    text-shadow: lawngreen 0.1em 0.1em 0.2em;
}
/*fin cambios menu*/

/*cambio de color de letra en encabezado de panel*/
.panel-default > .panel-heading {
    color: #001b36;
    font-weight: bold;
    font-size: 15px;
    font-size: 1em;
}

/*cambio de tamaño del encabezado del fielsed*/
legend {
    font-size:15px;
    font-size: 1em;
    font-weight: bold;
    height: 175px;
}

/*controles*/
.form-control {
}


